*{
    padding:0px;
    margin: 0;
}
body{
    background-color: rgb(25 22 47);
    background-image: url(image/cooltemp.png);
    background-repeat: no-repeat;
    background-size: 650px;
}
img{
    padding-bottom: 50px;
}
form{
    text-align: center;
}
.text h1{
    padding-top: 165px;
    color: white;
    font-size: 3rem;
    padding-bottom: 30px;
    
}
#temp-diff{
    font-size: 2rem;
}
.submit{
    padding-top: 10px;
}
#submit:hover{
    color: rgb(219, 237, 237);
    background-color: brown;
}
input{
    padding: 5px;
    color: rgb(8, 8, 8);
}
select{
    padding: 5px;
    color: rgb(13, 13, 13);
}
span{
    color: white;
    font-size: 1.5rem;
}